site_name: Griptape Docs
plugins:
  - glightbox
  - search
copyright: "&copy; Griptape, Inc."
extra_css:
  - assets/css/extra.css
extra:
  analytics:
    provider: google
    property: G-QM8EDPSCB6
  social:
    - icon: fontawesome/solid/house
      link: https://www.griptape.ai
    - icon: fontawesome/brands/discord
      link: https://discord.gg/gnWRz88eym
    - icon: fontawesome/brands/github
      link: https://github.com/griptape-ai/griptape/
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/griptape/
theme:
    name: material
    custom_dir: docs/overrides
    logo: assets/img/griptape-logo.png
    palette:
      # Palette toggle for light mode
    - scheme: default
      primary: black
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    features:
        - content.code.copy
        - navigation.tabs
        - navigation.sections
        - navigation.expand
        - navigation.top
        - announce.dismiss
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - admonition
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - tables
  - def_list
nav:
- Home:
    - Overview: "index.md"
    - Contributing: "contributing.md"
    - FAQ: "faq.md"
- Griptape Framework:
  - Overview: "griptape-framework/index.md"
  - Structures:
    - Pipelines: "griptape-framework/structures/pipelines.md"
    - Agents: "griptape-framework/structures/agents.md"
    - Workflows: "griptape-framework/structures/workflows.md"
    - Prompt Drivers: "griptape-framework/structures/prompt-drivers.md"
    - Conversation Memory: "griptape-framework/structures/conversation-memory.md"
    - Rulesets: "griptape-framework/structures/rulesets.md"
  - Tools:
      - Overview: "griptape-framework/tools/index.md"
      - Tool Memory: "griptape-framework/tools/tool-memory.md"
      - Building Custom Tools: "griptape-framework/tools/custom-tools.md"
  - Data:
    - Overview: "griptape-framework/data/index.md"
    - Artifacts: "griptape-framework/data/artifacts.md"
    - Embeddings: "griptape-framework/data/embeddings.md"
    - Chunkers: "griptape-framework/data/chunkers.md"
    - Loaders: "griptape-framework/data/loaders.md"
    - Query Engines: "griptape-framework/data/query-engines.md"
    - Vector Stores: "griptape-framework/data/vector-stores.md"
    - SQL Drivers: "griptape-framework/data/sql-drivers.md"
- Griptape Tools:
    - Overview: "griptape-tools/index.md"
    - Official Tools:
      - AwsCli: "griptape-tools/official-tools/aws-cli.md"
      - Calculator: "griptape-tools/official-tools/calculator.md"
      - EmailClient: "griptape-tools/official-tools/email-client.md"
      - FileManager: "griptape-tools/official-tools/file-manager.md"
      - PdfReader: "griptape-tools/official-tools/pdf-reader.md"
      - RestApiClient: "griptape-tools/official-tools/rest-api-client.md"
      - SqlClient: "griptape-tools/official-tools/sql-client.md"
      - KnowledgeBaseClient: "griptape-tools/official-tools/knowledge-base-client.md"
      - WebScraper: "griptape-tools/official-tools/web-scraper.md"
      - WebSearch: "griptape-tools/official-tools/web-search.md"
- Examples:
    - Overview: "examples/index.md"
    - Agents:
      - Talk to Redshift: "examples/talk-to-redshift.md"
      - Talk to a Webpage: "examples/talk-to-a-webpage.md"
      - Talk to a PDF: "examples/talk-to-a-pdf.md"
    - Data:
      - Load and Query Pinecone: "examples/load-and-query-pinecone.md"
      - Query a Webpage: "examples/query-webpage.md"